@page
@model CrudRazorPages.Clientes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex align-items-center">
    <div class="flex-grow-1">
        <h1>CLIENTES</h1>
    </div>
    <div>
        <a class="btn btn-primary" asp-page="Create">NUEVO CLIENTE</a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cliente[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente[0].Sexo)
            </th>
            <th>
                Estado
            </th>
               
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Cliente) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado.Nombres)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ClienteId">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.ClienteId">Detalles</a> |
                <a asp-page="./Delete" asp-route-id="@item.ClienteId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
